*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navBar {
  display: flex;
  flex-direction: column;
  background-color: rgba(153, 155, 151, 0.198) !important;
}
.butt{
  color:black !important;
  border: 0.1rem solid black !important;
  border-radius: 1rem !important;
  margin-right:  1rem !important;
}